:root {
    --primary-color:#afaffa;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-bg);
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--accent-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo h1 {
    font-size: 1.5rem;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: var(--secondary-text);
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.2s;
}

nav a:hover {
    color: #ff6600;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
}

